/*aspectos generales: bordes y color de fondo de calculadora*/
.container { border: 3px blue ridge; width: 250px;text-align: center;
    background-color: #f6f8d8; }

/*pantalla de visualizacion: bordes, posicion, color de fondo, estilo letra.*/
.visor { width: 185px; border: 2px black solid; text-align: right; 
      position: relative; left: 23px;  padding: 0px 5px;
      background-color: white; font-family: "courier new"; 
      overflow: hidden;}

/*botones normales: anchura y margen*/
.botonera [type=button] { width: 35px; padding: 0; flex-wrap: wrap  }